@import url("https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@400;700&display=swap");
body {
  font-family: 'M PLUS Rounded 1c', sans-serif;

}

h1,
h2,
h3 {
  font-family: "游ゴシック体", "YuGothic", "游ゴシック", "Yu Gothic", sans-serif;
}

ol li, ul li {
  padding: 1em 0;
}

/* id main に対して margin-left を指定 */

div#main {
  padding: 0 1.5em;
}

div.section{
  margin-top: 2em;

}
